# Python practise day 1

Python: Python is a object oriented language/ it is interpretable language.
        it is very easy to understand when it comes to syntax.
        In python all the libraries are inbuilt which makes us to understand it in a easy way.

# basic

In [4]:
print("this is my first program")

this is my first program

In [5]:
print " this is my first program"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(" this is my first program")? (1295544332.py, line 1)

this sentence is actually correct but doesnot execute because it works only is python 2.x not in python 3.x

# Comment

In [6]:
#my name is jennifer

Here we are trying to write some sentence or string. suppose we donot want to execute this line in program, in python we have that provision to consider that line as non executable line.
Just add # before the sentence

In [7]:
"""my 
name
is 
jennifer"""

'my \nname\nis \njennifer'

If you want to write multiple line comment in program then add """ at the start and end of the program

# Variable

Variable:it is a global instance which will store a data.
                     "or"
         variables are names given to the data items that may take one or more values during a program's runtime

variable naming conventions:
1. it cannot begin with a number
2. it must be a single word
3. it must consist of letter ans _symbol only
4. in pyhthon variable with _symbol is considered as unuseful

In [12]:
a=10
a

10

In [9]:
type (a)

int

In [15]:
b="jennifer"
b

'jennifer'

In [11]:
type(b)

str

In [17]:
c="15"
c

'15'

In [18]:
type(c)

str

In [19]:
a=15
b="jennifer"
a,b= 15, "jennifer"

In [20]:
a

15

In [21]:
b

'jennifer'

In [22]:
a,b

(15, 'jennifer')

In [23]:
print(a,b)

15 jennifer

In [25]:
type(a)

int

In [26]:
type (b)

str

In [29]:
a=5675
b="ghyfjgju"
c="gahfsgahyf"
a,b,c=5675, "ghyfjgju","gahfsgahyf"
a,b,c

(5675, 'ghyfjgju', 'gahfsgahyf')

In [30]:
2a="jennifer"

SyntaxError: invalid syntax (3809208166.py, line 1)

Variable name should not start with an integer

In [31]:
a=1.3
a

1.3

In [32]:
type(a)

float

In [33]:
a=True
b=False

In [34]:
type(a)

bool

In [35]:
type(b)

bool

In [36]:
print(True+True+True+False+True)

4

true=1
false=0

In [37]:
True*True

1

In [38]:
True-False

1

In [39]:
True/False

ZeroDivisionError: division by zero

In [40]:
False/True

0.0

In [41]:
a=56+2j
a

(56+2j)

In [42]:
type (a)

complex

In [43]:
a.real

56.0

In [44]:
a.imag

2.0

# Typecasting

Typecasting: conversion of one variable data type to another variable data type.

typecasting are of two types:
1. implicit typecasting
2. explicit typecasting

1. Implicit typecasting: In implicit typecasting the python compiler internally typecast one variable into another type without any external action of the user

2. Explicit typecasting:In explicit typecasting the user forces the compiler to covert a variable from one variable to another.

They are :

(i).Integer to str or float  
(ii).Float to int

In [46]:
w=10
x=1.0
w+x

11.0

In [48]:
type(w+x)

float

In [49]:
a=1
b="jenny"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
a="1"
b="jenny"
print(a+b)

1jenny

In [51]:
a=str(1)
b="jenny"
a+b

'1jenny'

In [52]:
type(a+b)

str

# User input

Python allows for user input, that means we are able to ask the user for the input

question 1. 

  step 1 : Take a integer input from user input
  
  step 2: Take integer a,b,c
  
  Step 3: o = (a+b)/c
  
  step 4: 01 = (0+ complex variable)
  
  step 5: 01+ "your name"

In [76]:
a=input(" enter thae variable"))

 enter thae variable100

In [77]:
a=int(input("enter the variable a:"))
b=int (input ("enter the variable b:"))
c=int(input("enter the variable c"))

enter the variable a:10
enter the variable b:20
enter the variable c30

In [81]:
o= a+b /c

In [83]:
o

10.666666666666666

In [84]:
o1 = (o+ 22+5j)
o1

(32.666666666666664+5j)

In [85]:
o1+"jenny"

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [87]:
str(o1)+"jenny"

'(32.666666666666664+5j)jenny'

# Control and conditional structures

In python there are 4 control and conditional structures.

1. if

2. elif-else

3. if-else

4. nested if

In [3]:
a=int(input("enter the number"))
if a<30:
    print("a is less than 30")
else:
    print("the input given is not less than 30")

enter the number2
a is less than 30

In [5]:
salary=int(input("enter the salary"))
if salary>1000:
    print("i will buy a phone")
elif salary<1000:
    print(" i will save")

enter the salary290
 i will save

In [11]:
savings= int(input(" enter your savings "))
if savings ==100:
    print(" i will buy a chocolate")
elif savings<100:
    print(" i will save more ")
elif savings > 100:
    print(" i will buy an icecream")

 enter your savings 1
 i will save more

In [16]:
salary=int(input("enter your saalry"))
if salary>100:
    print( " i will buy a car")
if salary<100:
    print(" i will buy a bike")
if salary==100:
    print(" i will save")

elif salary>1000:
    print("i will get a chain")
elif salary<1000:
    print("i will get a purse")
if salary== 1000:
    print("well done")
else:
    print("no more spending")

enter your saalry1000
 i will buy a car
well done

# Boolean operators

In python we have 3 boolean operatores, they are:

1. and: Returns true if both operands are true, else false.

2. Or: Returns true if both operands are true, else false.

3. not: Returns value opposite to the truth value of the expression.

In [23]:
a=10
b=20
if a==20and b==10 :
    print(" this is a valid statement")
else:
    print(" this is not a valid statement")

 this is not a valid statement

In [27]:
a=10
b=20
if a==40 and b<20:
    print(" valid statement")

In [32]:
a=10
b=20
if a==10 and b>20:
    print(" condition is verified")
elif a==10 and b==20:
    print("condition not verified")
else:
    print(" successful")

condition not verified

In [35]:
a=10 
b=20 
if a==20 or b==10:
    print( " value is verified")

In [44]:
first_name=input( "enter your first name")
last_name= input("enter your last name")
if first_name=="jennifer" and last_name== "roy":
    print(" name entered is correct")
else:
    print("incorrect name")

enter your first namejennifer
enter your last nameroy
 name entered is correct